@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: hsl(200, 15%, 8%);
  --color-background: hsl(0, 0%, 98%);
  --color-elements: hsl(0, 0%, 100%);
  --color-input: hsl(0, 0%, 52%);
}

.dark {
  --color-text: hsl(0, 0%, 100%);
  --color-background: hsl(207, 26%, 17%);
  --color-elements: hsl(209, 23%, 22%);
  --color-input: hsl(0, 0%, 100%);
}

body {
  @apply font-nunito bg-[var(--color-background)] text-[var(--color-text)] min-h-screen;
}